@import url(https://fonts.google.com/specimen/Luckiest+Guy?query=luck);

.padreLogin {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: url("./assets/hamburguesaH.jpg");
  background-size: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin-top:-20px;
  padding: 10px;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


h1 {
  font-family: 'Luckiest Guy', regular;
  font-size: 120px;
  font-weight: 900;
  line-height: 1.1;
  -webkit-text-stroke: 1.8px #1a1a1a;
  color: #F9CF63;
  margin: 90px 30px;
  
}

.singIn {
  
  width: 300px;
  height: 80px;
  border-radius: 20px;
  background: #F5BA22;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  font-size: 2.5em;
  font-weight: 500;
  margin-top: 10%;

}

/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.Email {
  width: 500px;
  height: 100px;
  background-color: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: solid 2px black;
  font-size: 40px;

}
.Email::placeholder { 
  color: black;
}

.Password {
  width: 500px;
  height: 100px;
  background-color: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: solid 2px black;
  font-size: 40px;
  margin-top: 10%;
}
.Password::placeholder { 
  color: black;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}